<!-- Image and text -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <app-alert></app-alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<router-outlet>
    <div id="main" class="fluid-container" *ngIf="currentUser">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Movie Review Managment System
            </a>
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </nav>
        <app-quick-filter></app-quick-filter>
        <div class="mat-app-background basic-container">
            <app-list-of-movie>loading</app-list-of-movie>
        </div>
    </div>
</router-outlet>